/bonuses/
.idea
/bugfixes/
/experiments/


/files/
/Bonus_11_/
/date_files/
/journal folder/
/modules/
/tool_concepts/
/asking_todo_or_showing.py
/Challenge_Head_tail.py
/coding_exercise3.py
/doc.txt
/eenum.py
/exersice_day_6.txt.py
/file.txt
/file_namechanger.py
/for_loop.py
/lists.py
/loops.py
/Pasword_strenght.py
/sort appabets.py
/tuplles.py
/.gitignore
/todo.txt
